.vs/

#Disclude the x64 folders, but not the dlls we need
x64/*
*/x64
!x64/Debug
x64/Debug/*
!x64/Debug/Assets
**.pdb
!x64/Release
x64/Release/*
!x64/Release/Assets

!x64/Debug/assimp-vc140-mt.dll
!x64/Release/assimp-vc140-mt.dll

**/Debug

packages/